@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f7f7f9;
}

.header-bar {
  gap: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 24px;
}

.Left-Logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: slateblue;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.headline-1 {
  gap: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 80px;
}

.background-image {
  background-size: 100%;
  padding: 102px 24px 136px 24px;
  background-repeat: no-repeat;
  background-image: url("./Images/header-shapes mobile.png");
}

.txt-arrange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 12px;
}

.glad-txt {
  font-family: "Poppins", sans-serif;
  align-items: center;
  min-height: 150px;
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  width: 300px;
  color: #172b4d;
}

.paragraph-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect .small-txt {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.media-Images ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  width: 200px;
  padding: 0;
  justify-content: space-between;
}

.all-cards {
  gap: 88px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 114px 24px;
  background-color: #f7f7f9;
}

.tag-group {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tag {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tag-year {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tag-Canopy {
  color: #172b4d;
  font-weight: 500;
}

.dot-separator {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  background-color: #c1c7d0;
}

.card-txt {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background-color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  background-color: white;
}

.card-3 {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
}

.headline-2 {
  gap: 12px;
  display: flex;
  background-size: 100%;
  flex-direction: column;
  background-color: white;
  background-repeat: no-repeat;
  border-top-right-radius: 80px;
  padding: 102px 24px 24px 24px;
}

.big-txt {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.prog ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  column-gap: 10px;
  border: none;
}

.prog li {
  font-family: 'Poppins', sans-serif;
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  line-height: 16px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  gap: 8px;
}

.prog .add-ruby {
  display: none;
}

.project-check button {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid;
  border-radius: 8px;
}

button:hover {
  background-color: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

button:active {
  background-color: #2230d2;
  transform: translateY(4px);
  border-radius: 8px;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

button[disabled] {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.all-about-myself {
  border-top-right-radius: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.list-header {
  width: 100%;
  padding: 24px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  color: #344563;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.last-labels {
  gap: 16px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  list-style: none;
  font-weight: 500;
  line-height: 24px;
  justify-content: space-between;
}

.language-label {
  font-family: 'Poppins', sans-serif;
  color: #253858;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.languages-icons {
  gap: 16px;
  display: flex;
  margin: 20px;
  width: 303px;
  height: 66px;
  padding-left: 12px;
  border-radius: 8px;
  align-items: center;
  background-color: #f7f7f9;
}

.border-bottom {
  border-bottom: 1px solid #999;
}

.lng-txt {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
  line-height: 20px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

.all-contact {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

.contact-background {
  display: flex;
  margin-top: 21px;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position-x: right;
  background-image: url("Images/contact-form-shapes-mobile.svg");
}

.margins {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 82px 24px 11px 24px;
}

.all-contact h2 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.all-contact p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #ebebff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.boxels {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 18px;
}

.contact-boxes {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins', sans-serif;
}

.nav-list,
.title-replace,
.replace-canopy,
.replace-tag,
.other-year,
.replace-tonic,
.replace-p {
  display: none;
}

@media (min-width: 768px) {
  img#Hamburger-logo,
  .image-tonic,
  .glad-txt,
  .tag-Canopy,
  .tag,
  .tag-year,
  .big-txt,
  .card-txt {
    display: none;
  }

  .prog .add-ruby {
    display: inline;
  }

  .nav-bar {
    width: 100%;
    position: fixed;
    background-color: white;
    padding-left: 142px;
    padding-right: 142px;
  }

  .nav-list {
    font-family: 'Poppins', sans-serif;
    color: #344563;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
  }

  .headline-1 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .background-image {
    margin: 118px 8px 76.54px 34.6px;
    align-items: center;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url("Images/Background-Header-d.png");
  }

  .title-replace {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: inline;
    min-height: initial;
    color: #091e42;
  }

  .txt-arrange {
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 255px;
    margin-top: 241px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .all-cards {
    gap: 142px;
  }

  .work-card {
    flex-direction: row;
    padding: 24px;
  }

  .work-card:hover {
    border: 2px solid #a7aeff;
    border-radius: 24px;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .card_image {
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 544px;
    height: 465px;
    left: 590px;
    top: 24px;
  }

  .big-txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .replace-tonic {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .replace-tag {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .replace-canopy {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: inline;
    color: #172b4d;
  }

  .replace-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: inline;
    color: #344563;
  }

  .other-year {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .card-1 {
    order: 2;
  }

  .card-2 {
    order: 3;
  }

  .card-2 img {
    order: 1;
  }

  .card-4 img {
    order: 1;
  }

  .all-about-myself {
    border-top-right-radius: 80px;
    flex-direction: row;
    padding: 142px;
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .headline-2 {
    width: 50%;
  }

  .media-Images {
    gap: 26;
  }

  .project-check {
    padding-top: 20px;
  }

  .lng-txt {
    font-size: 15px;
    font-weight: 500;
    color: #253858;
    line-height: 20px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
  }

  .language-shapes {
    width: 50%;
  }

  #prog-lngs {
    display: flex;
    flex-direction: column;
  }

  .last-labels {
    gap: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    list-style: none;
    font-weight: 500;
    line-height: 24px;
  }

  .list-header {
    width: 100%;
    padding: 24px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-title {
    color: #344563;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .language-list {
    gap: 12px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
  }

  .list-item-content {
    display: flex;
  }

  .languages-icons {
    flex: 1;
    gap: 16px;
    margin: 0;
    width: 122px;
    height: 120px;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
    background-color: #f7f7f9;
    justify-content: space-between;
  }

  .border-bottom {
    border-bottom: 1px solid #999;
  }

  .language-img {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    object-fit: contain;
    object-position: center;
  }

  .language-label {
    font-family: 'Poppins', sans-serif;
    color: #253858;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  .contact-background {
    margin: 79.09px 74px 48.21px 75.34px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("Images/contact-desktop-background-shapes.svg");
  }

  .margins button {
    margin-left: 32%;
    display: flex;
    align-items: center;
  }

  .all-contact p {
    padding: 0 300px;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #ebebff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .contact-boxes {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    padding: 15px 38px 15px 16px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    font-family: 'Poppins', sans-serif;
  }

  .boxels {
    width: 447px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  #contact-msg {
    height: 170px;
  }
}
